In [35]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [36]:
 # Import Scooter Address file as DataFrame
scooter_pd = pd.read_csv("Downloads/scooter_address2.csv")
scooter_pd.head()

                                   Address1
0                      4TH ST S Minneapolis
1  FREMONT AVE S FRANKLIN AVE W Minneapolis
2        15TH ST E PORTLAND AVE Minneapolis
3    22ND AVE NE FILLMORE ST NE Minneapolis
4        24TH ST W GIRARD AVE S Minneapolis

In [37]:
address_unique = scooter_pd["Address1"].nunique()
print(address_unique)

2000

In [38]:
# Add columns for lat, lng
# Note that we used "" to specify initial entry.
scooter_pd["Lat"] = ""
scooter_pd["Lng"] = ""

scooter_pd.head()

                                   Address1 Lat Lng
0                      4TH ST S Minneapolis
1  FREMONT AVE S FRANKLIN AVE W Minneapolis
2        15TH ST E PORTLAND AVE Minneapolis
3    22ND AVE NE FILLMORE ST NE Minneapolis
4        24TH ST W GIRARD AVE S Minneapolis

In [39]:
 # create a params dict that will be updated with new address each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in scooter_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    address1 = row['Address1']

    # update address key value
    params['address'] = f"{address1}"

    # make request
    scooter_lat_lng = requests.get(base_url, params=params)
    
    # print the sddress_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(scooter_lat_lng.url)
    
    # convert to json
    scooter_lat_lng = scooter_lat_lng.json()

    scooter_pd.loc[index, "Lat"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lat"]
    scooter_pd.loc[index, "Lng"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [41]:
# Save Data to csv
scooter_pd.to_csv("Downloads/Scooter_Lat_long_2.csv")

# Visualize to confirm airport data appears
scooter_pd.head()

                                   Address1      Lat      Lng
0                      4TH ST S Minneapolis  44.9766 -93.2624
1  FREMONT AVE S FRANKLIN AVE W Minneapolis  44.9627 -93.2956
2        15TH ST E PORTLAND AVE Minneapolis  44.9681 -93.2677
3    22ND AVE NE FILLMORE ST NE Minneapolis  45.0096 -93.2423
4        24TH ST W GIRARD AVE S Minneapolis  44.9591 -93.2969