In [11]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [12]:
 # Import Scooter Address file as DataFrame
scooter_pd = pd.read_csv("Downloads/Scooter_Address1.csv")
scooter_pd.head()

                             Address1
0  24TH ST W DUPONT AVE S Minneapolis
1     10TH ST S 2ND AVE S Minneapolis
2  7TH ST S MARQUETTE AVE Minneapolis
3      6TH ST S 2ND AVE S Minneapolis
4      1ST AVE N 1ST ST N Minneapolis

In [13]:
address_unique = scooter_pd["Address1"].nunique()
print(address_unique)

2000

In [14]:
# Add columns for lat, lng
# Note that we used "" to specify initial entry.
scooter_pd["Lat"] = ""
scooter_pd["Lng"] = ""

scooter_pd.head()

                             Address1 Lat Lng
0  24TH ST W DUPONT AVE S Minneapolis
1     10TH ST S 2ND AVE S Minneapolis
2  7TH ST S MARQUETTE AVE Minneapolis
3      6TH ST S 2ND AVE S Minneapolis
4      1ST AVE N 1ST ST N Minneapolis

In [15]:
 # create a params dict that will be updated with new address each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in scooter_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    address1 = row['Address1']

    # update address key value
    params['address'] = f"{address1}"

    # make request
    scooter_lat_lng = requests.get(base_url, params=params)
    
    # print the sddress_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(scooter_lat_lng.url)
    
    # convert to json
    scooter_lat_lng = scooter_lat_lng.json()

    scooter_pd.loc[index, "Lat"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lat"]
    scooter_pd.loc[index, "Lng"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [17]:
# Save Data to csv
scooter_pd.to_csv("Downloads/Scooter_Lat_long_1.csv")

# Visualize to confirm airport data appears
scooter_pd.head()

                             Address1      Lat      Lng
0  24TH ST W DUPONT AVE S Minneapolis  44.9591 -93.2931
1     10TH ST S 2ND AVE S Minneapolis  44.9728  -93.272
2  7TH ST S MARQUETTE AVE Minneapolis  44.9763 -93.2709
3      6TH ST S 2ND AVE S Minneapolis  44.9767 -93.2687
4      1ST AVE N 1ST ST N Minneapolis   44.987 -93.2713