In [1]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# Create scooter dataframe
scooter_df = pd.read_csv('Downloads/scooter_address_lat_long.csv')
scooter_df.dropna()
scooter_df.head()

                              Address        Lat       Long
0  24TH ST W DUPONT AVE S Minneapolis  44.959130 -93.293113
1     10TH ST S 2ND AVE S Minneapolis  44.972818 -93.271973
2  7TH ST S MARQUETTE AVE Minneapolis  44.976320 -93.270883
3      6TH ST S 2ND AVE S Minneapolis  44.976720 -93.268733
4      1ST AVE N 1ST ST N Minneapolis  44.986981 -93.271269

In [3]:
# Store Lat and Long in locations
locations = scooter_df[["Lat", "Long"]].astype(float)

In [4]:
# Create bank symbol layer
location_layer = gmaps.symbol_layer(locations, fill_color="blue",
                                stroke_color="blue", scale=2)

In [5]:
# Plot Map
fig = gmaps.figure()
fig.add_layer(location_layer)

fig

Figure(layout=FigureLayout(height='420px'))