In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
 # Import Scooter Address file as DataFrame
scooter_pd = pd.read_csv("Downloads/Scooter_Address3.csv")
scooter_pd.head()

                                   Address1
0                    28TH ST W  Minneapolis
1  ADAMS ST NE WASHINGTON ST NE Minneapolis
2        24TH AVE N LOGAN AVE N Minneapolis
3         HARRIET AVE 36TH ST W Minneapolis
4        54TH ST E PORTLAND AVE Minneapolis

In [3]:
address_unique = scooter_pd["Address1"].nunique()
print(address_unique)

2588

In [4]:
# Add columns for lat, lng
# Note that we used "" to specify initial entry.
scooter_pd["Lat"] = ""
scooter_pd["Lng"] = ""

scooter_pd.head()

                                   Address1 Lat Lng
0                    28TH ST W  Minneapolis
1  ADAMS ST NE WASHINGTON ST NE Minneapolis
2        24TH AVE N LOGAN AVE N Minneapolis
3         HARRIET AVE 36TH ST W Minneapolis
4        54TH ST E PORTLAND AVE Minneapolis

In [5]:
 # create a params dict that will be updated with new address each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in scooter_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    address1 = row['Address1']

    # update address key value
    params['address'] = f"{address1}"

    # make request
    scooter_lat_lng = requests.get(base_url, params=params)
    
    # print the sddress_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(scooter_lat_lng.url)
    
    # convert to json
    scooter_lat_lng = scooter_lat_lng.json()

    scooter_pd.loc[index, "Lat"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lat"]
    scooter_pd.loc[index, "Lng"] = scooter_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [6]:
# Save Data to csv
scooter_pd.to_csv("Downloads/Scooter_Lat_Long_3.csv")

# Visualize to confirm airport data appears
scooter_pd.head()

                                   Address1      Lat      Lng
0                    28TH ST W  Minneapolis  44.9519 -93.2901
1  ADAMS ST NE WASHINGTON ST NE Minneapolis  45.0064 -93.2572
2        24TH AVE N LOGAN AVE N Minneapolis  45.0042 -93.3034
3         HARRIET AVE 36TH ST W Minneapolis  44.9377 -93.2856
4        54TH ST E PORTLAND AVE Minneapolis  44.9052 -93.2673