In [2]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [3]:
# Create scooter dataframe
scooter_df = pd.read_csv('Downloads/scooter_address_lat_long.csv')
scooter_df.dropna()
scooter_df.head()

                              Address        Lat       Long
0  24TH ST W DUPONT AVE S Minneapolis  44.959130 -93.293113
1     10TH ST S 2ND AVE S Minneapolis  44.972818 -93.271973
2  7TH ST S MARQUETTE AVE Minneapolis  44.976320 -93.270883
3      6TH ST S 2ND AVE S Minneapolis  44.976720 -93.268733
4      1ST AVE N 1ST ST N Minneapolis  44.986981 -93.271269

In [4]:
# Create scooter dataframe
crime_df = pd.read_csv('Downloads/NEIGHBORHOOD_CRIME_STATS_Lat_Long.csv')
crime_df.dropna()

crime_df=crime_df.fillna(value=0)
crime_df['neighborhood']=crime_df['neighborhood'].str.upper()

crime_2018=crime_df.loc[crime_df['reportYear']==2018.0]

crime_2018.head()

,OBJECTID,neighborhood,Lat,Long,ucrDescription,number,reportMonth,reportYear
1520,3521,** NOT ASSIGNED **,0.0,0.0,Aggravated Assault,0.0,1,2018
1521,3522,** NOT ASSIGNED **,0.0,0.0,Arson,0.0,1,2018
1522,3523,** NOT ASSIGNED **,0.0,0.0,Auto Theft,2.0,1,2018
1523,3524,** NOT ASSIGNED **,0.0,0.0,Burglary,0.0,1,2018
1524,3525,** NOT ASSIGNED **,0.0,0.0,Homicide,0.0,1,2018

In [5]:
nstats=crime_2018.groupby('neighborhood').agg({'number':'sum','Lat':'first','Long':'first'})

nstats.reset_index(inplace=True)

nstats

                        neighborhood  number        Lat       Long
0                 ** NOT ASSIGNED **    62.0   0.000000   0.000000
1                           ARMATAGE    88.0  44.898481 -93.311195
2                       AUDUBON PARK   174.0  45.017224 -93.237808
3                           BANCROFT    85.0  44.929271 -93.254591
4                           BELTRAMI    56.0  44.994943 -93.241600
5                          BOTTINEAU    88.0  45.008185 -93.268369
6                             BRYANT    81.0  44.931174 -93.269679
7                        BRYN - MAWR    60.0  44.973051 -93.313616
8                  CAMDEN INDUSTRIAL    15.0  45.035678 -93.286694
9                              CARAG   341.0  44.941056 -93.291062
10              CEDAR - ISLES - DEAN    74.0  44.954166 -93.321534
11                   CEDAR RIVERSIDE   357.0  44.966897 -93.243470
12                           CENTRAL   315.0  44.976463 -93.276112
13                         CLEVELAND   188.0  45.019714 -93.313961
14                     COLUMBIA PARK    36.0  45.025961 -93.259020
15                              COMO   265.0  44.985081 -93.219033
16                            COOPER   112.0  44.948005 -93.210611
17                          CORCORAN   157.0  44.942491 -93.240764
18                      DIAMOND LAKE   101.0  44.896112 -93.262825
19                     DOWNTOWN EAST   252.0  44.975911 -93.254587
20                     DOWNTOWN WEST  1982.0  44.974210 -93.273329
21                      EAST HARRIET   111.0  44.929322 -93.293578
22                        EAST ISLES   271.0  44.955947 -93.300271
23                     EAST PHILLIPS   380.0  44.958441 -93.253862
24                              ECCO   224.0  44.855850 -93.242525
25                       ELLIOT PARK   426.0  44.969848 -93.262732
26                          ERICSSON    97.0  44.919450 -93.230711
27                             FIELD    57.0  44.914844 -93.269679
28                           FOLWELL   346.0  45.020151 -93.298826
29                            FULTON   124.0  44.912192 -93.321265
..                               ...     ...        ...        ...
60                        NORTH LOOP   414.0  44.984199 -93.283589
61                    NORTHEAST PARK   141.0  45.003120 -93.241263
62                          NORTHROP   126.0  44.976443 -93.235377
63                              PAGE    37.0  44.907843 -93.269679
64                     PHILLIPS WEST   220.0  44.951103 -93.265907
65                   POWDERHORN PARK   393.0  44.939803 -93.253334
66   PROSPECT PARK - EAST RIVER ROAD   378.0  44.961886 -93.216690
67                            REGINA    54.0  44.922974 -93.270937
68                            SEWARD   418.0  44.959190 -93.234569
69                          SHERIDAN    99.0  45.002404 -93.266446
70                     SHINGLE CREEK   125.0  45.047938 -93.307097
71                  ST. ANTHONY EAST    62.0  44.994657 -93.251669
72                  ST. ANTHONY WEST    95.0  44.993244 -93.260348
73                          STANDISH   245.0  44.933305 -93.235738
74  STEVEN'S SQUARE - LORING HEIGHTS   127.0  44.964205 -93.276602
75   STEVENS SQUARE - LORING HEIGHTS    76.0  44.964205 -93.276602
76                 SUMNER - GLENWOOD    71.0  44.984204 -93.290894
77                        TANGLETOWN   107.0  44.912744 -93.278088
78           UNIVERSITY OF MINNESOTA   124.0  44.973990 -93.227728
79                   VENTURA VILLAGE   404.0  44.961820 -93.258031
80                           VICTORY   154.0  45.033678 -93.315579
81                        WAITE PARK   102.0  45.031331 -93.234349
82                   WEBBER - CAMDEN   284.0  45.031597 -93.298269
83                           WENONAH   130.0  44.895971 -93.235738
84                      WEST CALHOUN    77.0  44.944701 -93.326300
85                          WHITTIER   839.0  44.955535 -93.279651
86                     WILLARD - HAY   421.0  44.996449 -93.311268
87                            WINDOM   156.0  44.897834 -93.283294
88                       WINDOM PARK   137.0  45.009115 -93.235627
89              Z_** NOT ASSIGNED **   157.0   0.000000   0.000000

[90 rows x 4 columns]

In [6]:
locations2 = nstats[['Lat','Long']].astype(float)

crime_rate = nstats['number'].astype(float)

In [7]:
#Heat layer

heat_layer = gmaps.heatmap_layer(locations2, weights=crime_rate,
                                dissipating=False,max_intensity=100,
                                point_radius = 1)


heat_layer.dissipating = False
heat_layer.max_intensity = 1000
heat_layer.point_radius = 1

In [8]:
# Store Lat and Long in locations
locations = scooter_df[["Lat", "Long"]].astype(float)

In [9]:
# Create bank symbol layer
location_layer = gmaps.symbol_layer(locations, fill_color="blue",
                                stroke_color="blue", scale=2)

In [10]:
# Plot Map
fig = gmaps.figure()
fig.add_layer(location_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))